.OneBookPage {
  background-color: #eff7fc;
  height: 90vh;
  margin: 0;
  width: 100%;

  section {
    width: 95%;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    gap: 30px;
    .comment_cont {
      display: flex;
      justify-content: space-evenly;
      flex-wrap: wrap;
      gap: 15px;
    }
  }
}
