.Profile {
  display: flex;
  justify-content: space-around;
  gap: 20px;
  width: 100%;
  overflow: hidden;
  height: 100%;
  min-height: 90vh;

  .avatar {
    padding: 15px 10px;
    margin: 20px;
    width: 327px;
    height: 307px;
    flex-shrink: 0;
    box-shadow: 0 0 15px rgba(128, 128, 128, 0.423);
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    border-radius: 5px;
    background-color: white;

    svg {
      width: 100px;
      height: 100px;
    }

    h3 {
      color: #787878;
      font-size: 24px;
      font-weight: 400;
    }

    h5 {
      color: #749bff;
      font-size: 16px;
      font-weight: 400;
      line-height: normal;
    }
  }

  @media screen and (min-width: 1600px) {
    .avatar {
      width: 390px;
      h3{
        font-size: 28px;
        font-weight: 300;
      }

      h5{
        font-size: 20px;
      }

      p{
        font-size: 18px;
      }
    }
  }

  .cont {
    display: flex;
    flex-direction: column;
  }
}

@media screen and (width: 1355px) {
  .avatar {
    width: 354px;
  }
}

@media screen and (width: 1235px) {
  .avatar {
    width: 327px;
  }
}

@media screen and (max-width: 1234px) {
  .Profile {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .cont {
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
  }
}
