.Home {
  width: 100%;
  background-image: url(../../assets//images/home.png);
  height: 420px;
  display: flex;
  justify-content: center;
  align-items: center;
  h1 {
    color: white;
  }
}

.booksCard {
  width: 95%;
  margin: 0 auto;
  margin-top: 20px;
  gap: 20px;

  display: flex;
  flex-direction: column;
}

.cont {
  display: flex;
  gap: 20px;
  justify-content: space-between;
  width: 100%;
  flex-wrap: wrap;
}
