.SearchBar {
  width: 80% ;
  height: auto;
  padding: 5px 0px 10px 0px;
  position: fixed;
  background-color: white;

  div {
    display: flex;
    justify-content: space-around;
    align-items: center;

    span{
     display: flex;

     input{
      padding: 10px 15px;
      width: 550px;
      border: 1px solid #787878 ;
      border-right: none;
      border-radius: 5px 0 0 5px
      ;
      outline: none
     };
     button{
      background-color: white;
      border: 1px solid black;
      border-left: none;
      padding: 0 15px 0 0 ;
      border-radius: 0px 5px 5px 0px;
     }
    }
    a{
      img{
            width: 50px;
            margin-top: 5px;
      }
    }
  }
}
